.a-container {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: center;
}

.classy-image {
  border-radius: 50%;
  padding: 6px;
}

.faction-image {
  border-radius: 50%;
  padding: 5px;
}

@media (max-width: 1323px) {
  .a-container {
    position: absolute;
    top: 100px
  }
}
