.item-page {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 20px;
  padding-top: 129px;
  height: 95vh;
  margin-bottom: 40px;
}

.items-container {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #081F2F;
}

@media (max-width: 345px) {
  .items-container {
    scale: 85%
  }
}

@media (max-width: 1323px) {
  .items-container {
    scale: 85%;
    margin-top: 70px; 
  }
}
