.item {
  margin-left: 20px;
  scale: 110%;
  margin-top: 8px;
  margin-bottom: 5px
}

input {
  margin-right: 10px;
  scale: 175%
}

.container {
  width: 300px;
  display:flex; 
  padding-bottom: 5px;
}