.card {
  box-sizing: border-box;
  padding: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.class-image {
  border-radius: 100px;
}



