.card {
  box-sizing: border-box;
  padding: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
}

.class-image {
  border-radius: 100px;
  transition: transform 0.3s ease;
}

a {
  max-width: 100px;
  border-radius: 100px;
}

.class-image {
  border-radius: 100px;
}

.card:hover .class-image {
  animation: spin-and-grow 0.2s linear forwards; /* Apply the combined spin-and-grow animation on hover and keep the final state */
  filter: brightness(1.2)
}

@keyframes spin-and-grow {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) /* rotate(360deg);  Rotate the image by 360 degrees and scale to 110% size */
  }
}
